* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Homepage */
#nav h3 {
    color: black;
    font-weight: 100;
    float: right;
    padding-right: 2%;
    font-size: 70%;
}

#main {
    text-align: center;
    padding-top: 5%;
}

#logoMain {
    padding-top: 20vh;
}

#searchBar {
    padding-top: 40px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 500px;
    height: 18px;
}

#searchBtns {
    padding-top: 25px;
}

#searchBtns input{
    padding: 12px;
    border-radius: 5px;
    border: 0px solid;
    border-color: ghostwhite;
    background-color: ghostwhite; 
}

#searchBtns input:hover {
border: 0px solid rgb(222, 222, 222);
-webkit-box-shadow: -1px 5px 9px 0px rgba(0,0,0,0.05); 
box-shadow: -1px 5px 9px 0px rgba(0,0,0,0.05);
} 

#searchBar:hover {
    -webkit-box-shadow: -1px 5px 9px 0px rgba(0,0,0,0.1); 
    box-shadow: -1px 5px 9px 0px rgba(0,0,0,0.1);
}

/* Image Search */
#imgText {
    position: relative;
    right: 60px;
    bottom:5px;
}

#logoImg {
    padding-top: 20vh;
    padding-left: 55px;
}

/* Advance Search */
#logoSmall {
    width: 100px;
    padding: 10px;
    margin: 0;
}

#advanceHead {
    padding-left: 5%;
    color: rgb(197, 81, 55);
}

#line {
    color: rgb(255, 255, 255);
}

#formLayout {
    padding-left: 5%;
}

#searchInput {
    float: center;
}

#advance {
    padding-left: 21em;
}

#advance input {
    padding: 10px;
    background-color: #4285F4;
    border: 0px solid;
    border-radius: 3px;
    color: white;
}